# For C or C++
C_C++/*.exe
C_C++/*.o
C_C++/*.ilk
C_C++/*.pdb
*.pdb
*.obj
C_C++/lab

# For VS Code C, C++
C_C++/.vscode

# For Java
Java/ds_algo/out

# For Java Gradle
Java/Gradle/.gradle
Java/Gradle/.idea
Java/Gradle/build

# For Python
Python/__pycache__/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
